[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
requests = "*"
django-leaflet = "*"
django-geojson = "*"
jsonfield = "*"
matplotlib = "*"
Django = "1.11"
Pillow = "*"

[requires]
python_version = "3.6"
