[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
django-leaflet = "*"
django-geojson = "*"
jsonfield = "*"
Django = "*"
Pillow = "*"
six = "*"

[requires]
python_version = "3.6"
