{% load leaflet_tags %}
{% load staticfiles %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      .leaflet-container { height: 100%; }
    </style>
    <script type="text/javascript">
      var dataurl = '{% url "data" %}';

      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var content = `<h3>${props.name}</h3><p>${props.latitude}</p>`;
                layer.bindPopup(content);
            }}).addTo(map);
          });
      });
    </script>

  </head>
  <body>
    <h1>Caltech Temp Map</h1>  
    <button class="btn btn-info btn-lg" type="button" data-toggle="modal" data-target="#temp-form">Add New Post</button>

    <div class="modal fade" id="temp-form" tabindex="-1" role="dialog">{% include "polls/form-beta.html" %}</div>

    {% leaflet_map "main" %}
  </body>
</html>
